In [35]:
import pandas as pd
data = pd.read_csv(r"C:\Users\Anushka\OneDrive\Desktop\LLM Project\combined_library_data.csv")
data

,CallNo,Barcode,Title,Author,Publisher Code,Year,ISBN,Edition,Pages,Library,Subject
0,711 BET,8002128,Re-Living the City: UABB 2015 Catalogue /,NaN,"Actar Publishing,",2016.0,9.78195E+12,NaN,654p. :,Knowledge Centre (Kengeri),Architecture
1,711 BIR,8002219,Paranoazinho :,"Birmann, Ricardo.","Yale School of Architecture,",2017.0,9781945150630 (soft cover : alk. paper),NaN,176p. :,Knowledge Centre (Kengeri),Architecture
2,711 CAP,8001742,City sense : shaping our environment with real...,NaN,"Actar,",2012.0,9.78842E+12,NaN,365p. :,Knowledge Centre (Kengeri),Architecture
3,711 DAU,8001796,The new civic art :,"Duany, Andres.","Rizzoli,",2003.0,0847821862 | 9780847821860,NaN,384 p. :,Knowledge Centre (Kengeri),Architecture
4,711 GUA,8001790,Self sufficient city : envisioning the habitat...,NaN,"Isaac, Actar,",2010.0,9.78849E+12,NaN,416p. :,Knowledge Centre (Kengeri),Architecture
...,...,...,...,...,...,...,...,...,...,...,...
244255,919.92304 CHA,04009761,A passion for Mars :,"Chaikin, Andrew,","Abrams,",2008.0,9780810972742 | 0810972743,NaN,279 p. :,Knowledge Centre (Kengeri),Tourism
244256,919.92304 ZUB,03007764,The Case for Mars :,"Zubrin, Robert.","Free Press,",2011.0,9780684827575 | 9781451608113,Rev. and updated.,"xxxi, 383 p. :",School of Business Management (Kengeri),Tourism
244257,919.94 FOD,05036395,Australia : The Guide for All Budgets Where to...,Fodor`s 2003,"Fodor,",2000.0,0140001042,NaN,590 p,Knowledge Centre,Tourism
244258,919.969 FRO,05036396,Hawaii :,"Foster, Jeanette","Macmillan,",2000.0,0028629841,NaN,641 p,Knowledge Centre,Tourism
244259,919.994 ROG,05030108,Australia - a Visual Celebration,"Rogge, Otto",New Holland Publishers,NaN,1864362995,NaN,192p,Knowledge Centre,Tourism

In [36]:
data.columns

Index(['CallNo', 'Barcode', 'Title', 'Author', 'Publisher Code', 'Year',
       'ISBN', 'Edition', 'Pages', 'Library', 'Subject'],
      dtype='object')

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244260 entries, 0 to 244259
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CallNo          244260 non-null  object
 1   Barcode         244206 non-null  object
 2   Title           244259 non-null  object
 3   Author          227331 non-null  object
 4   Publisher Code  234144 non-null  object
 5   Year            200135 non-null  object
 6   ISBN            192006 non-null  object
 7   Edition         38887 non-null   object
 8   Pages           238339 non-null  object
 9   Library         244260 non-null  object
 10  Subject         244260 non-null  object
dtypes: object(11)
memory usage: 20.5+ MB

In [38]:
data = data.drop(columns=['CallNo',"Barcode","Publisher Code","Edition"])

In [47]:
data.columns

Index(['Title', 'Author', 'Year', 'ISBN', 'Pages', 'Library', 'Subject'], dtype='object')

In [43]:
import pandas as pd

# Assuming df is your DataFrame
# Remove all rows with missing values
df_cleaned = data.dropna()

print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 150813 entries, 1 to 244258
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Title    150813 non-null  object
 1   Author   150813 non-null  object
 2   Year     150813 non-null  object
 3   ISBN     150813 non-null  object
 4   Pages    150813 non-null  object
 5   Library  150813 non-null  object
 6   Subject  150813 non-null  object
dtypes: object(7)
memory usage: 9.2+ MB
None

In [45]:
df = df_cleaned.copy()

# Drop rows with missing 'Author' values
df = df.dropna(subset=['Author'])

# Define the function to handle various author name formats
def standardize_author_name(name):
    if isinstance(name, str):
        parts = name.split(', ')
        if len(parts) == 2:
            return f'{parts[1]} {parts[0]}'
        elif '.' in name:
            return ' '.join(name.split('.'))
    return name

# Apply the function to the 'Author' column using .loc to avoid warnings
df.loc[:, 'Author'] = df['Author'].apply(standardize_author_name)

print(df)

                                                    Title            Author  \
1                                          Paranoazinho :  Ricardo. Birmann
3                                     The new civic art :     Andres. Duany
6                                   The City in History :     Lewis Mumford
7                                   The City in History :     Lewis Mumford
8                                         Town Planning /      S C Rangwala
...                                                   ...               ...
244254                                          Voyager :  Stephen J., Pyne
244255                               A passion for Mars :   Andrew, Chaikin
244256                                The Case for Mars :    Robert. Zubrin
244257  Australia : The Guide for All Budgets Where to...      Fodor`s 2003
244258                                           Hawaii :   Jeanette Foster

          Year                                     ISBN  \
1       2017.0  9781945150630 (soft cover : alk. paper)
3       2003.0               0847821862 | 9780847821860
6       1989.0                              9.78016E+12
7       1989.0                              9.78016E+12
8       2015.0                              9.78819E+12
...        ...                                      ...
244254  2010.0                            9780670021833
244255  2008.0               9780810972742 | 0810972743
244256  2011.0            9780684827575 | 9781451608113
244257  2000.0                               0140001042
244258  2000.0                               0028629841

                                  Pages  \
1                               176p. :
3                              384 p. :
6                           xi, 657p. ;
7                           xi, 657p. ;
8                            xvi, 256p.
...                                 ...
244254  xix, 444 p., [8] p. of plates :
244255                         279 p. :
244256                   xxxi, 383 p. :
244257                            590 p
244258                            641 p

                                        Library       Subject
1                    Knowledge Centre (Kengeri)  Architecture
3                    Knowledge Centre (Kengeri)  Architecture
6                    Knowledge Centre (Kengeri)  Architecture
7                    Knowledge Centre (Kengeri)  Architecture
8                    Knowledge Centre (Kengeri)  Architecture
...                                         ...           ...
244254               Knowledge Centre (Kengeri)       Tourism
244255               Knowledge Centre (Kengeri)       Tourism
244256  School of Business Management (Kengeri)       Tourism
244257                         Knowledge Centre       Tourism
244258                         Knowledge Centre       Tourism

[150813 rows x 7 columns]

In [46]:
file_path = 'cleaned_data.csv'

# Save the DataFrame to a CSV file
df_cleaned.to_csv(file_path, index=False)  # index=False to avoid writing row numbers

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to cleaned_data.csv